@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.showError {
    display: inherit !important;
}

.base-padding {
    padding: 2px !important;
}

ul {
    list-style-type: none;
    padding-left: 0px;
    }

li a{ color: black; }

#uploadBtn{ float: right; }

.inputfile {
    width: 0px;
    height: 0px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .inputfile + label * {
    cursor: pointer;
    pointer-events: none;  
  }

  label{
    cursor: pointer;
  }
.TitleStyle
{
   float: center
}
.container  {
  
    width: 100%;
    top: 100px; 
    border: 0 !important;
   
  }
  
  .container .row {
    margin: 0 auto;
  }
  .ButtonClass
  {
    width: 100% !important;  
      
  }
  .fontClass
  {
    font-size: 12px;
    float:inline-start
  }

  .linkClass
  {
    font-size: 12px;
    float: right;
    }

  .error{
    text-emphasis: bold;
    font-size: 12px;
    margin-top: -5%;
    margin-bottom: 5%;
  }